<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.genius.android.howtoimpressagirl">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/luvv"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Impress.ImpressAGirl"
            android:label="How To Impress Girl"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Impress.HowToProposeGirl"
            android:label="Propose A Girl"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Impress.GiftIdeas"
            android:label="Gift Ideas"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Impress.ImpressTips" />
        <activity android:name=".Impress.ProposeGirl"></activity>
    </application>

</manifest>